<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/static">
                <img
                        src="https://movie.techmaster.vn/assets/logo-C2IIl7EL.png"
                        alt="logo"
                />
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                    class="collapse navbar-collapse justify-content-between"
                    id="navbarNavAltMarkup"
            >
                <div class="navbar-nav">
                    <a class="nav-link text-white" href="/static"
                    >Trang chủ</a
                    >
                    <a class="nav-link text-white" href="/phim-bo">Phim bộ</a>
                    <a class="nav-link text-white" href="/phim-chieu-rap"
                    >Phim chiếu rạp</a
                    >
                    <a class="nav-link text-white" href="/phim-le">Phim lẻ</a>
                    <a class="nav-link text-white" href="#">Quốc gia</a>
                    <a class="nav-link text-white" href="#">Thể loại</a>
                    <a class="nav-link text-white" href="#">Mua phim</a>
                </div>
                <div>
                    <a class="nav-link text-white" href="#"
                    >Đăng nhập</a
                    >
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
